.square {
    width: 210px;
    height: 160px;
    background-color:rgb(33, 36, 40);
    border-radius: 20px;
    transition: width 0.3s;
    box-shadow: 0 0 100px rgba(10, 11, 12, 0.5);
    transform: rotateY(-20deg) rotateX(20deg);
}

.square:hover {
    width: 350px;
}

.square::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: wheat;
    opacity: 0;
    transition: opacity 0.3s;
}

.square:hover::before {
    opacity: 1;
}

.square1::before {
    content: "Надпись 1";
}

.square2::before {
    content: "Надпись 2";
}

.square3::before {
    content: "Надпись 3";
}

.square4::before {
    content: "Надпись 4";
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    width: 120px;
    height: 120px;
  }
  
svg {
    position: relative;
  }
  
  svg {
    transition: opacity 0.1s;
  }
  
  svg:hover {
    opacity: 0;
  }
